@using Microsoft.JSInterop
@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <main>
        <HeadContent>
            <script Src="js/fabricInterop.js"></script>
        </HeadContent>
        <CascadingValue Value="@UserNickname">
            @Body
        </CascadingValue>
    </main>
</div>

@code {
    private string UserNickname { get; set; }
}